.Header {
  //position: absolute;
  background-color: #aab7f0;
  text-align: center;
  vertical-align: middle;
  height: 50px;

  .icon {
    float: left;
    margin-top: 18px;
    margin-left: 15px;
  }

  h2 {
    color: white;
    padding-top: 10px;
  }
}