.NoteDetails {
  background-color: white;
  padding: 0 15%;
  height: 100vh;

  .sideBar {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 25%;
    height: 100%;
    background-color: #f1f2f6;

    .title {
      margin: 20px 10px 10px 10px;
      padding: 10px;
      overflow: visible;
      span {
        color: black;
        font-size: 14px;
        text-decoration: none;
      }
    }

    .choose {
      background-color: #dfe4ea;
    }
  }

  .detail {
    display: inline-block;
    width: 70%;
    margin-left: 10px;

    h3 {
      text-align: center;
    }

    .line {
      border-bottom: 1px solid #d6dde5;
    }

    .description {
      padding-top: 10px;
    }
  }

  .operation {
       display: inline-block;
       margin-top: 40px;
       margin-left: 10px;
       width: 70%;

       .operationBlock {
         width: 60%;
         margin: 0 auto;

         div{
           margin-left: 30px;
           display: inline-block;
           width: 120px;
           height: 30px;
           text-align: center;
           vertical-align: middle;
           padding-top: 5px;
         }
       }

    .delete {
      background-color: #fd6d83;
      &:hover{
        background-color: white;
        border: 1px solid red;
      }
    }

    .return {
      background-color: #f1f2f6;
    }
  }

  a {
    color: black;
    text-decoration: none;
  }
}