.TitleModule {
  background-color: white;
  padding: 80px;
  text-align: center;
  vertical-align: bottom;

  .title {
    display: inline-block;
    box-sizing: border-box;
    line-height: 250px;
    margin: 30px 10px;
    width: 200px;
    height: 250px;
    &:nth-child(odd){
      background-color: #f1a686;
    }
    &:nth-child(even){
      background-color: #f6d698;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }

}