.createSection{
  background-color: white;
  padding: 0 25%;
  height: 100vh;

  h1 {
    text-align: center;
    margin-top: 0;
    padding-top: 15px;
  }

  .line {
    border-bottom: 1px solid #d6dde5;
    margin-bottom: 25px;
  }

  label {
    display: block;
    margin-top: 10px;
  }

  input,textarea {
    width: 100%;
    margin-top: 10px;
  }

  input {
    height: 30px;
  }

  textarea {
    height: 100px;
  }

  .operation {
    display: inline-block;
    margin-top: 20px;
    width: 100%;

    .operationBlock {
      width: 60%;
      margin: 0 auto;

      div{
        margin-left: 30px;
        display: inline-block;
        width: 120px;
        height: 30px;
        text-align: center;
        vertical-align: middle;
        padding-top: 5px;

        a {
          color: black;
          text-decoration: none;
        }
      }

      .create {
        background-color: #fd6d83;
      }

      .return {
        background-color: #f1f2f6;
      }
    }
  }
}